body {
    background-color: #e09b9b;
    font-family: Arial, sans-serif;
}
h1 {
    color: #111306;
}
button {
    background-color: #0a0a0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}